a.nav_link:hover {
  cursor: pointer;
  color: #2e5984;
}

.nav_link {
  text-decoration: none;
  color: white;
}

.nav_links:hover {
  text-decoration: none;
  color: white;
}

.menu_link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
}

a.menu_link:hover {
  cursor: pointer;
  color: gold;
  text-decoration: underline;
}
