a.nav_link:hover {
  cursor: pointer;
  color: #2e5984;
}

.nav_link {
  text-decoration: none;
  color: white;
}

.nav_links:hover {
  text-decoration: none;
  color: white;
}

.menu_link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 15px 0px;
}

a.menu_link:hover {
  cursor: pointer;
  color: #c2ad90;
  text-decoration: underline;
}
